<p id="notice"><%= notice %></p>

<h1>All Posts</h1>

<!-- <div class="panel-group">
    <div class="panel panel-default">
    <div class="panel-heading">Title</div>
    <div class="panel-body"></div>
  </div>
</div> -->

<div class="panel panel-default">
<div>
    <div class="panel-heading">
  <div>
    <div>
    Title
    Author
    Blog entry

    </div>
  </div>
</div>


  <div class="panel-body">
    <% @posts.each do |post| %>
      <div>
        <div><%= post.title %></div>
        <div><%= post.author %></div>
        <div><%= post.blog_entry %></div>
        <div><%= link_to 'Show', post %></div>
        <div><%= link_to 'Edit', edit_post_path(post) %></div>
        <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>

</div>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
